.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6;
  }
  
  .login-form {
    background: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
  }
  
  .login-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .login-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .login-remember {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
  }
  
  .login-remember input {
    margin-right: 8px;
  }
  .login-remember label{
    color: #000;
  }

  .login-button {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background: #0056b3;
  }
  